<div class="container">
  <h2>Order Summary</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |product| %>
      <tr>
        <th scope="row">1</th>
        <td><%="#{product.item.title} "%></td>
        <td><%=" #{product.item.price} $"%></td>
      </tr>
      <% end %>
      <tr>
        <th scope="row">Total:</th>
        <td></td>
        <td>
          <%= @order.total %> $
        </td>
      </tr>
    </tbody>
  </table>
</div>
