
.header h1 {
  font-size: 58px;
  font-family: 'Bungee', sans-serif;
  letter-spacing: 3px;
}

.header h2 {
  letter-spacing: 2px;
  margin-top: 35px;
  font-size: 40px;
  font-family: 'Permanent Marker', sans-serif
}

.header img {
  border-radius: 100%;
  margin-top: 30px;
}

.form-inline {
  margin: auto;
  margin-top: 90px;
}

.movie-input {
  margin: 0 5px;
}

.btn {
  cursor: pointer;

}

.btn:hover {
  font-size: 18px;
  border-width: 1.5px;
}
