.header {
  margin-top: 50px;
}

.header h1 {
  font-size: 58px;
  font-family: 'Bungee', sans-serif;
  letter-spacing: 5px;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Permanent Marker', sans-serif
}

.header img {
  border-radius: 100%;
  margin-top: 30px;
}

.form-inline {
  margin: auto;
  margin-top: 90px;
}

.movie-search {
  margin: 0 8px;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

.movie-search::placeholder {
  font-size: 20px;
}

.btn {
  color: rgb(47, 184, 248);
  font-size: 24px;
  cursor: pointer;
  border: 2px solid rgb(47, 184, 248);
}

.btn:hover {
  font-size: 26px;
  border: 2px solid rgb(47, 184, 248);
  background-color: rgb(47, 184, 248);
}

.nav-item img {
  border-radius: 100%;
}

.nav-item img:hover {
  width: 42px;
  height: 32px;
}

.nav-item {
  color: darkgray;
  font-size: 16px;
  padding: 2px 7px;
  margin: auto;
  letter-spacing: 1.5px;
  font-family: 'Titillium Web', sans-serif;
}

.nav-item:hover {
  color: black;
  font-size: 18px;
}
.navbar-expand-lg {
  border-bottom: 5px solid rgb(47, 184, 248);
}

#movies-header {
  margin: 85px 0;
  color: gold;
  font-size: 62px;
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  letter-spacing: 4px;
}

.movies {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.movie-prop {
  width: 33%;
  margin: 30px auto;
  text-align: center;
}

.movie-prop h4 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  margin: auto;
  padding-bottom: 10px;
  width: 45%;
  border-bottom: 3px solid gold;
}

.movie-prop p {
  line-height: 1.5;
  margin: auto;
  width: 75%;
  letter-spacing: 1.5px;
  font-family: 'Rubik', sans-serif;
}

.movie-prop h4 {
  margin-top: 25px;
}

.flash-alert {
  text-align: center;
  padding: 15px 0;
  background-color: rgba(248, 103, 103, 0.4);
}

.flash-notice {
  text-align: center;
  padding: 15px 0;
  background-color: rgba(44, 209, 19, 0.4);
}

.highlight {
  background-color: yellow;
}

.user-show {
  color: black;
}

.user-show:hover {
  font-size: 16px;
}

.field {
  text-align: center;
  margin: 15px 0;
}

.field label {
  padding-bottom: 2px;
}

.remember-field {
  letter-spacing: 1px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 17px;
}

.user-input {
  letter-spacing: 1px;
  padding: 4px 4px;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.input {
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
}

.actions {
  text-align: center;
}

.devise-btn {
  margin-top: 50px;
}

.devise-link {
  display: none;
  text-align: center;
  margin: 20px 0;
}

.devise-link h4 {
  font-size: 18px;
}

#error_explanation {
  margin: auto;
  margin-bottom: 50px;
}

#error_explanation li {
  text-align: center;
  list-style: none;
  color: rgb(248, 103, 103);
}

#error_explanation h2 {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: 'Rubik', sans-serif;
}

.products {
  text-align: center;
  font-size: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stripe {
  text-align: center;
  font-size: 25px;
  font-family: 'Barlow Condensed', sans-serif;
}
